<div class="repository">
    <h3><a href="{{ repository.url }}">{{ repository.name }}</a> <span class="label">Public</span></h3>
    <p>{{ repository.description }}</p>
    <p><img align="center" src="https://img.shields.io/badge/{{ repository.type | replace: " ", "%20" }}-orange" alt="{{ repository.type }}" /></p>
    {% if repository.stars > 0 %}
    <p><img align="center" src="https://img.shields.io/github/stars/{{ repository.url | split: '/' | last }}" alt="Stars" /> {{ repository.stars }} stars</p>
    {% endif %}
  </div>