<div class="repository">
  <h3>
    <a href="{{ repository.html_url }}">{{ repository.name }}</a>
    <span class="label">Public</span>
  </h3>
  <p>{{ repository.description }}</p>
  {% if repository.language %}
    <p><img align="center" src="https://img.shields.io/badge/{{ repository.language | replace: " ", "%20" }}-orange" alt="{{ repository.language }}" /></p>
  {% endif %}
  {% if repository.stargazers_count > 0 %}
    <p><img align="center" src="https://img.shields.io/github/stars/{{ repository.full_name }}" alt="Stars" /> {{ repository.stargazers_count }} stars</p>
  {% endif %}
</div>
