{% assign repo_url = include.repository | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

<style>
  .repositories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .row {
    display: flex;
    width: 100%;
  }

  .repo {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
</style>

<div class="repositories">
  {% for repository in site.data.repositories %}
    {% if forloop.index0 % 2 == 0 %}
      <div class="row">
    {% endif %}
    <div class="repo p-2 text-center">
      <a href="https://github.com/{{ repository }}">
        <img
          class="repo-img-light"
          alt="{{ repository }}"
          src="https://github-readme-stats.vercel.app/api/pin/?username={{ repository | split: '/' | first }}&repo={{ repository | split: '/' | last }}&theme=default&show_owner={{ show_owner }}"
        >
      </a>
    </div>
    {% if forloop.index0 % 2 == 1 %}
      </div>
    {% endif %}
  {% endfor %}
  {% if forloop.index0 % 2 == 0 %}
    </div>
  {% endif %}
</div>
